<div data-page="addMenu" class="page" ng-cloak>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
            <div class="center "> New a menu</div>
            <div class="right">
                <a href="#" class="link" ng-click="AddToMyMenuClient()"><i class="icon material-icons">check</i></a>
            </div>
        </div>
    </div>

    <!-- Scrollable page content-->
    <div class="page-content">
        <div class="list-block inputs-list">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title floating-label">Menu item</div>
                            <div class="item-input">
                                <input type="text" placeholder="name your friend" ng-model="Menu.MenuItem" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title floating-label">Cost </div>
                            <div class="item-input">
                                <input type="text" placeholder="Email" ng-model="Menu.MenuCost" format="number" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>