<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<!-- Page, data-page contains page name-->

<div data-page="addOrder" class="page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center">New an invite</div>
            <div class="right">
                <a href="#" class="link" ng-click="InviteClick()"><i class="icon material-icons">check</i></a>
            </div>
        </div>
    </div>

    <!-- Scrollable page content-->
    <div class="page-content">
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title floating-label">Title</div>
                            <div class="item-input">
                                <input type="text" ng-model="Invite.Title" placeholder="Your title" />
                            </div>
                        </div>
                    </div>
                </li>


                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title floating-label">Description</div>
                            <div class="item-input">
                                <textarea class="resizable" ng-model="Invite.Description" placeholder="Description">
                                    
                                </textarea>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title floating-label">Date Time</div>
                            <div class="item-input">
                                <input type="text" placeholder="Date Time" readonly="readonly" id="set-time" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="list-block">
            <ul>
                <li>
                    <a href="searchPlace.html" id="autocomplete-standalone1" class="item-link item-content autocomplete-opener">
                        <input type="hidden" />
                        <div class="item-inner">
                            <div class="item-title">Place</div>
                            <div class="item-after"></div>
                        </div>
                    </a>
                </li>


                <li>
                    <a href="searchFriend.html" id="autocomplete-standalone-multiple1" class="item-link item-content autocomplete-opener">
                        <input type="hidden" />
                        <div class="item-inner">
                            <div class="item-title">Friends</div>
                            <div class="item-after"></div>
                        </div>
                    </a>
                    <div class="content-block" ng-show="SelectFriends.length>0">
                        <div class="chip" ng-repeat="item in SelectFriends" ng-click="RemoveFriendSelected(item)">
                            <div class="chip-label">{{item.FirstName}}</div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>



    </div>
</div>
