<div data-page="category" class="page" ng-cloak>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
            <div class="center "> New a Place</div>
            <div class="right">
               
            </div>
        </div>
    </div>

    <!-- Scrollable page content-->
    <div class="page-content" ng-controller="IndexPageController">
        <div class="list-block inputs-list">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title floating-label">Name </div>
                            <div class="item-input">
                                <input type="text" placeholder="name of place" ng-model="Place.Name" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title floating-label">URL </div>
                            <div class="item-input">
                                <input type="text" placeholder="url of place" ng-model="Place.URL" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title floating-label">Address </div>
                            <div class="item-input">
                                <input type="text" placeholder="address of place" ng-model="Place.Address" />
                            </div>
                        </div>
                    </div>
                </li>
                
            </ul>
        </div>
        <div class="content-block">
            <div class="row">
                <div class="col-100">
                    <input type="submit" value="Save" ng-click="AddOrUpdatePlace()" class="button button-raised button-fill color-green" />
                </div>
            </div>
        </div>

    </div>
</div>