<!DOCTYPE html>
<html  ng-app="MyApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#00bcd4">
    <meta name="theme-color" content="#00bcd4s">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src 'self' 'unsafe-inline' *">
    <title>Friendgonow.com - connnecting friend</title>
    <!-- Path to Framework7 Library CSS-->
    <!--<link rel="stylesheet" href="css/framework7.ios.min.css">-->
    <link href="css/framework7.material.css" rel="stylesheet" />
    <link href="css/framework7.material.colors.css" rel="stylesheet" />
    <link href="css/material-icons.css" rel="stylesheet" />
    <link href="css/toastr.css" rel="stylesheet" />
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/my-app.css">
</head>
<body ng-controller="IndexPageController" class="theme-cyan">
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-cover">
        <div class="view navbar-fixed">
            <div class="pages">
                <div data-page="panel-left" class="page">
                   
                    <div class="page-contents">
                    
                 <div class="content-block">
         <div class="login-screen-title">
            <img src="images/lgo-fgo.png" style="width:80%" />
        </div>
         <div class="content-block">
                <div class="row ">
                    <div class="col-100" style="text-align:center">
                        <a href="#" >{{CurrentUser.Email}}</a>
                    </div>
                    
                </div>
            </div>
                 </div>

                        <div class="list-block">
                            <ul>
                                <li>
                                    <a href="index.html" class="item-link close-panel">
                                        <div class="item-content">
                                            <div class="item-media"><i class="icon material-icons">insert_invitation</i></div>
                                            <div class="item-inner">
                                                <div class="item-title">Invites</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="places.html" class="item-link close-panel">
                                        <div class="item-content">
                                            <div class="item-media"><i class="icon material-icons">place</i></div>
                                            <div class="item-inner">
                                                <div class="item-title">Places</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="friend.html" class="item-link close-panel">
                                        <div class="item-content">
                                            <div class="item-media"><i class="icon material-icons">person</i></div>
                                            <div class="item-inner">
                                                <div class="item-title">Friends</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="item-link close-panel" ng-click="SignOut()">
                                        <div class="item-content">
                                            <div class="item-media"><i class="icon material-icons">lock_outline</i></div>
                                            <div class="item-inner">
                                                <div class="item-title">Logout</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                               
                              
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Right panel with cover effect-->
    <div class="panel panel-right panel-cover">
        <div class="content-block">
            <p>Right panel content goes here</p>
        </div>
    </div>
    
    <!-- Views-->
    <div class="views" >
        <!-- Your main view, should have "view-main" class-->
        <div class="view view-main" >
            <div class="pages navbar-fixed">
                <div data-page="index" class="page">
                    <!-- Top Navbar-->
                    <div class="navbar">
                        <!-- Navbar inner for Index page-->
                        <div class="navbar-inner">
                         <div class="left"> <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a></div>
                            <!-- We have home navbar without left link-->
                            <div class="center">Fgo - Connecting friend</div>
                            <div class="right">
                                <!-- Right link contains only icon - additional "icon-only" class-->
                               
                            </div>
                        </div>
                    </div>
                    <!-- Floating Action Button -->
                    <div class="speed-dial">
                    <a href="#" class="floating-button"><i class="icon icon-plus"></i><i class="icon icon-close"></i></a>
                        <div class="speed-dial-buttons">                         
                          <a href="addOrder.html"><i class="icon material-icons">today</i></a>
                          <a href="addPlace.html"><i class="icon material-icons">place</i></a></div>
                         </div>
                   
                    <!-- Scrollable page content-->
                    <div class="page-content" >
                        <div class="list-block media-list" ng-init="GetOrders()">
                            <ul>
                                <li ng-repeat="item in Orders">
                                    <a href="#" class="item-link item-content" ng-click="GetOrder(item.Id)">
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">{{item.Title}}</div>
                                                <div class="item-after">{{item.LunchDateText}}</div>
                                            </div>
                                            <div class="item-subtitle">{{item.RestaurantName}}</div>
                                            <div class="item-text">{{item.RestaurantAddress}}</div>
                                        </div>
                                    </a>
                                </li>                              
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
           
          

        </div>
    </div>
   

    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <!-- Path to Framework7 Library JS-->
    <script src="js/jquery-1.10.2.js"></script>
    <!-- Path to your app js-->

    <script src="js/framework7.js"></script>
    <script src="js/global.js"></script>
    <script src="js/toastr.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/appModule.js"></script>
    <script src="js/md5.js"></script>
    <script src="js/config.js"></script>
    <script type="text/javascript" src="js/controller/IndexPageController.js"></script>
    <script src="js/services/initService.js"></script>
 
    
   
</body>
</html>