<div data-page="login" class="page no-navbar no-toolbar no-swipeback">
    <div class="page-content login-screen-content">
        <div class="login-screen-title">
            <img src="images/lgo-fgo.png" style="width:80%" />
        </div>
        <form>
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">Username</div>
                            <div class="item-input">
                                <input type="text" name="username" placeholder="Your username" ng-model="User.Email" />
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">Password</div>
                            <div class="item-input">
                                <input type="password" name="password" placeholder="Your password" ng-model="User.Password" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-100">
                        <input type="submit" ng-click="SignIn()" value="Sign in" class="button button-raised button-fill color-cyan" />
                    </div>
                </div>
            </div>
            <div class="content-block">
                <div class="row ">
                    <div class="col-50" style="text-align:center">
                        <a href="signUp.html" >Create a account</a>
                    </div>
                    <div class="col-50" style="text-align:center">
                        <a href="forgetPassword.html" value="" >Forget password ?</a>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>   