<div data-page="searchFriend" class="page" ng-cloak>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
            <div class="center "> Find friend</div>
            <div class="right">
            <a href="#" class="link" ng-show="SelectFriends.length>0"  ng-click="SelectedOK()">
                <i class="icon material-icons">check</i></a>
            <a href="addFriend.html" class="link"><i class="icon material-icons">add</i></a>
            </div>
        </div>
    </div>
    <form data-search-list=".search-here" data-search-in=".item-title" class="searchbar searchbar-init">
        <div class="searchbar-input">
            <input type="search" placeholder="Search" /><a href="#" class="searchbar-clear"></a>
        </div>
    </form>
    <!-- Scrollable page content-->
    <div class="page-content pull-to-refresh-content" >
        <div class="list-block searchbar-not-found">
            <ul>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Nothing found</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="list-block media-list search-here searchbar-found"  ng-init="GetFriends()">
            <ul>
                <li ng-repeat="item in Friends">
                    <label class="label-checkbox item-content" ng-click="SelectFriendClick(item)" >
                        <input type="checkbox" name="ks-media-checkbox"/>
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">{{item.FirstName}}</div>
                            </div>
                            <div class="item-subtitle">{{item.Email}}</div>
                           
                        </div>
                        <div class="item-after" ng-show="item.IsActived">
                            <i class="icon material-icons">check</i>
                        </div>
                    </label>
                </li>
                
                </ul>
            </div>
                


        </div>
    </div>